In [36]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import censusdata
import re
import geopandas
import sqlite3
from sqlite3 import Error

censuskey = '7b3e8a6afe58867abcf5aecad26845d802115f1f'

# The following section will import Census dataset

In [37]:
#Define Census Funtions

#Funcion For NonDigit Removing Characters from Row - Used for Extracting GEOID
def remove_chars(s):
    clean = int(re.sub('[^0-9]+', '', str(s))[-11:])
    return clean

#Function to get census data according to requirements
def getcensustables(table):
    tablename = 'data_' + table
    print(f'Downloading {table}')
    
    # Set requirements to pull from Census API
    
    variablestopull = allvariablescsv.loc[allvariablescsv['Group']==table]['Name'].tolist()
    listofcounties = ['121', '089']
    yearstopull = [2018] #range(2018,2018,1)

    #Pull Census Data according to requirement above
    atlantadata = pd.DataFrame()

    for year in yearstopull:
        for county in listofcounties:

            newdata = censusdata.download('acs5', year, censusdata.censusgeo([('state', '13'), ('county', county), ('tract', '*')]),variablestopull,censuskey)
            type(newdata)
            newdata['YEAR'] = year
            atlantadata = atlantadata.append(newdata)

    #Rename Column Headings from Code to Text
    for variable in variablestopull:
        #print(variable)
        renamevar1 = allvariablescsv.loc[allvariablescsv['Name']==variable]['Label'].iloc[0]
        renamevar2 = allvariablescsv.loc[allvariablescsv['Name']==variable]['Concept'].iloc[0]
        renamevar = renamevar2 + '_'+ renamevar1
        #print(renamevar)
        atlantadata = atlantadata.rename(columns={variable: renamevar})

    #Transform Index to create GeoID

    #Create GeoID Column
    atlantadata['Name2'] = atlantadata.index
    atlantadata['GEOID'] = atlantadata['Name2'].apply(remove_chars)
    atlantadata.drop(columns=['Name2'], inplace=True)
    
    #Only Keep Atlanta Census Tracts(Geocodes)
    finaldata = atlantageocodes.merge(atlantadata, how='left', on='GEOID')
    
    finaldata = finaldata.dropna(axis=0, how='any')
    
    return finaldata

In [38]:
#Load tables already downloaded, or download if not.

#Tables to Load from data/tablestopull.csv
tablestoloadcsv = pd.read_csv('data/tablestopull.csv')
tablestoload = tablestoloadcsv['Tables'].tolist()

#Allvariables Table to get table detail
allvariablescsv = pd.read_csv('data/allvariables.csv')

#Atlanta Geo Codes Table to filter to city of atlanta only 
atlantageocodes = pd.read_csv('data/MetroATLCensusTracts.csv')

#Create dictionary with each cleaned table as an entry
alltables = dict()  


#Script will attempt to load tables from data folder first, otherwise download them
for table in tablestoload:
    try:
        data = pd.read_csv('data/' + table + '.csv')
        alltables[table] = data
        print(f'Loading {table}')
    except:
        data = getcensustables(table)
        alltables[table] = data

        data.to_csv('data/' + table + '.csv')

Loading B19013
Loading B01003
Loading B11001
Loading B25064
Loading B25074
Loading B25063
Loading B25061
Loading B25056
Loading B00002
Loading B25001
Loading B25122
Loading B19119
Loading B19019
Loading B25106

In [39]:
#Pull Housing Burdened Households
housingburdened = alltables['B25074']

housingburdenedhhs = pd.DataFrame()

# only keep the related columns
cols_of_sum=['HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Less than $10,000',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Less than $10,000!!Less than 20.0 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Less than $10,000!!20.0 to 24.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Less than $10,000!!25.0 to 29.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Less than $10,000!!30.0 to 34.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Less than $10,000!!35.0 to 39.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Less than $10,000!!40.0 to 49.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Less than $10,000!!50.0 percent or more',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$10,000 to $19,999!!Less than 20.0 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$10,000 to $19,999!!20.0 to 24.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$10,000 to $19,999!!25.0 to 29.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$10,000 to $19,999!!30.0 to 34.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$10,000 to $19,999!!35.0 to 39.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$10,000 to $19,999!!40.0 to 49.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$10,000 to $19,999!!50.0 percent or more',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$20,000 to $34,999!!Less than 20.0 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$20,000 to $34,999!!20.0 to 24.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$20,000 to $34,999!!25.0 to 29.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$20,000 to $34,999!!30.0 to 34.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$20,000 to $34,999!!35.0 to 39.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$20,000 to $34,999!!40.0 to 49.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$20,000 to $34,999!!50.0 percent or more',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$35,000 to $49,999!!Less than 20.0 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$35,000 to $49,999!!20.0 to 24.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$35,000 to $49,999!!25.0 to 29.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$35,000 to $49,999!!30.0 to 34.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$35,000 to $49,999!!35.0 to 39.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$35,000 to $49,999!!40.0 to 49.9 percent',\
       'HOUSEHOLD INCOME BY GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!$35,000 to $49,999!!50.0 percent or more']

# lowincomehhs = percentrentbyincome[cols_of_interest]
housingburdenedhhs['GEOID'] = housingburdened['GEOID']
housingburdenedhhs['RentBurdenedHHs'] = housingburdened[cols_of_sum].sum(axis=1)

# clean_HUDcsv.rename(columns={'Code': 'GEOID'},inplace=True)
display(housingburdenedhhs.head())

         GEOID  RentBurdenedHHs
0  13089020100             82.0
1  13089020200            176.0
2  13089020300            225.0
3  13089020400            330.0
4  13089020500            642.0

In [40]:
#Pull Median Income per Household

medianincome = alltables['B19019']

medianincome.drop(columns='YEAR')

# display(medianincome)
#Set years to loop through
years = [2017.0]

medianincomehh = pd.DataFrame()

# lowincomehouseholds['TotalHHs'] = medianincomehh

# only keep the related columns
cols_of_sum=['MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) BY HOUSEHOLD SIZE_Estimate!!Total']

# lowincomehhs = medianincomehh[cols_of_interest]
medianincomehh['GEOID'] = medianincome['GEOID']
medianincomehh['MedianIncomeHH'] = medianincome[cols_of_sum]

medianincomehh = medianincomehh.loc[medianincomehh['MedianIncomeHH'] > 0]

display(medianincomehh.head())

         GEOID  MedianIncomeHH
0  13089020100        174526.0
1  13089020200         87889.0
2  13089020300        113088.0
3  13089020400         78681.0
4  13089020500         55208.0

In [41]:
#Pull Percent Rent by Income
percentrentbyincome = alltables['B25106']

percentrentbyincome = percentrentbyincome[percentrentbyincome.columns.drop(list(percentrentbyincome.filter(regex='Owner')))]
percentrentbyincome = percentrentbyincome[percentrentbyincome.columns.drop(list(percentrentbyincome.filter(regex='percent')))]

# display(percentrentbyincome) ### for class

lowincomehhs = pd.DataFrame()

# only keep the related columns
cols_of_sum=['TENURE BY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Renter-occupied housing units!!Less than $20,000',\
                  'TENURE BY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Renter-occupied housing units!!$20,000 to $34,999',\
                  'TENURE BY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS_Estimate!!Total!!Renter-occupied housing units!!$35,000 to $49,999']

lowincomehhs['GEOID'] = percentrentbyincome['GEOID']
lowincomehhs['TotalLowIncomeHHs'] = percentrentbyincome[cols_of_sum].sum(axis=1)

display(lowincomehhs.head())

         GEOID  TotalLowIncomeHHs
0  13089020100               47.0
1  13089020200              132.0
2  13089020300              169.0
3  13089020400              304.0
4  13089020500              432.0

In [42]:
#Final Census Summary Table for DB

summary = housingburdenedhhs.merge(lowincomehhs.merge(medianincomehh, on='GEOID', how='inner'), on='GEOID', how='inner')

display(summary.head())
# actualsdata = actualsdata.merge(hweatherdata, on='date', how='inner')

         GEOID  RentBurdenedHHs  TotalLowIncomeHHs  MedianIncomeHH
0  13089020100             82.0               47.0        174526.0
1  13089020200            176.0              132.0         87889.0
2  13089020300            225.0              169.0        113088.0
3  13089020400            330.0              304.0         78681.0
4  13089020500            642.0              432.0         55208.0

# # The following section will import Georgia Census Tract dataset

In [43]:
#Read geotable
geofile = 'data/tractdata/tl_2018_13_tract.shp'
geotable = geopandas.read_file(geofile)

#Convert Geopandas table to DataFrame for import 
geotable = pd.DataFrame(geotable.drop(columns='geometry'))

#Convert GEOID to Int64
geotable.GEOID = geotable.GEOID.astype(str).astype('int64')
                                                   
#Keep only Atlanta GEOCODEs                                                   
geotable = atlantageocodes.merge(geotable, how='left', on='GEOID')

# Only keep the related columns
cols_of_interest=['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAMELSAD', 'INTPTLAT', 'INTPTLON']
geotableclean = geotable[cols_of_interest]
geotableclean.rename(columns={'STATEFP': 'StateID','COUNTYFP': 'CountyID','TRACTCE': 'TractID','NAMELSAD': 'TractName','INTPTLAT': 'Latitude','INTPTLON': 'Longitude'},inplace=True)
display(geotableclean.head())

,StateID,CountyID,TractID,GEOID,TractName,Latitude,Longitude
0,13,013,180103,13013180103,Census Tract 1801.03,+34.0791395,-083.8083173
1,13,013,180104,13013180104,Census Tract 1801.04,+34.0058079,-083.8339347
2,13,013,180105,13013180105,Census Tract 1801.05,+34.0405382,-083.8155021
3,13,013,180106,13013180106,Census Tract 1801.06,+34.0237319,-083.8424034
4,13,013,180107,13013180107,Census Tract 1801.07,+34.0149923,-083.7895842

# The following section will import Georgia HUD dataset

In [44]:
#Import the dataset
HUDdataset = 'data/hudPicture2018_363148.csv'
HUDcsv = pd.read_csv(HUDdataset)


# Only keep the related columns
cols_of_interest=['Code','Subsidized units available','% Occupied','% Reported','Household income per year','% very low income','% extremely low income'
       ,'% female head','% with disability among Head Spouse Co-head aged 61 years or less','% with disability among Head Spouse Co-head aged 62 years or older',
       '% in poverty (Census tract)','% minority (Census tract)']
clean_HUDcsv = HUDcsv[cols_of_interest]
clean_HUDcsv.rename(columns={'Code': 'GEOID'},inplace=True)

#Convert GEOID to Int64

clean_HUDcsv = clean_HUDcsv[~clean_HUDcsv.GEOID.str.contains("XXX")]
clean_HUDcsv.GEOID = clean_HUDcsv.GEOID.astype(str).astype('int64')

#Keep only atlanta GEOCODES
clean_HUDcsv = atlantageocodes.merge(clean_HUDcsv, how='left', on='GEOID')

display(clean_HUDcsv.head())

,GEOID,Subsidized units available,% Occupied,% Reported,Household income per year,% very low income,% extremely low income,% female head,% with disability among Head Spouse Co-head aged 61 years or less,% with disability among Head Spouse Co-head aged 62 years or older,% in poverty (Census tract),% minority (Census tract)
0,13013180103,6,-4,-4,-4,-4,-4,-4,-4,-4,-4,-4
1,13013180104,5,-4,-4,-4,-4,-4,-4,-4,-4,-4,-4
2,13013180105,1,-4,-4,-4,-4,-4,-4,-4,-4,-4,-4
3,13013180106,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,13013180107,4,-4,-4,-4,-4,-4,-4,-4,-4,-4,-4

# The following section will import the NHPD dataset

In [45]:
#Import dataset from CSV
income_data = "data\GA_Prop_NHPD.csv"
income_data_df = pd.read_csv(income_data)

subset_income_pd = income_data_df[['NHPD Property ID', 'PropertyStatus', 'Property Name', 'Property Address', 'City',
                                   'State', 'Zip', 'Census Tract', 'Active Subsidies',  
                                   'TargetTenantType','Occupancy Rate','0-1 BedroomUnits', 'TwoBedroomUnits',
                                   'ThreePlusBedroomUnits','Percent of ELI Households', 'HUD Property ID', 
                                   'FairMarketRent_2BR', 'Owner Type', 'EarliestStartDate', 'Total Units', 
                                    'S8_1_AssistedUnits', 'S202_1_AssistedUnits', 'FHA_1_AssistedUnits', 'FHA_2_AssistedUnits',
                                   'LIHTC_1_AssistedUnits', 'LIHTC_2_AssistedUnits', 'HOME_1_AssistedUnits', 'RHS515_1_AssistedUnits']]

subset_income_pd.rename(columns={'S202_1_AssistedUnits': 'Supportive Housing Elderly', 'RHS515_1_AssistedUnits': 'Rural Rental Housing', 'LIHTC_1_AssistedUnits' :
                                'Low Income Housing Tax Credit', 'LIHTC_2_AssistedUnits':'Low Income Housing Tax Credit sub-program',
                                 'S8_1_AssistedUnits':'Section 8 Housing Units', 'FHA_1_AssistedUnits': 'FHA Loan Units', 'FHA_2_AssistedUnits':
                                 'FHA Loan Sub_Program Units', 'HOME_1_AssistedUnits':'HOME Grants','Census Tract':'GEOID'
                                },inplace=True)

# atlanta_subset = subset_income_pd.loc[subset_income_pd["City"]== "Atlanta"]

#Keep only atlanta GEOCODES
atlanta_subset_nhpd = atlantageocodes.merge(subset_income_pd, how='inner', on='GEOID')
display(atlanta_subset_nhpd)

,GEOID,NHPD Property ID,PropertyStatus,Property Name,Property Address,City,State,Zip,Active Subsidies,TargetTenantType,...,EarliestStartDate,Total Units,Section 8 Housing Units,Supportive Housing Elderly,FHA Loan Units,FHA Loan Sub_Program Units,Low Income Housing Tax Credit,Low Income Housing Tax Credit sub-program,HOME Grants,Rural Rental Housing
0,13013180103,1105346,Active,BRASELTON COURT,1018 Beaver Dam Rd,Hoschton,GA,30548,1,NaN,...,1/1/2014,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13013180103,1127409,Active,NaN,1911 Highway 211 NW,Hoschton,GA,30548-3526,1,NaN,...,11/9/2015,67,NaN,NaN,NaN,NaN,NaN,NaN,67.0,NaN
2,13013180104,1102155,Active,AUTRY PINES SR VILLAGE,155 Autry Rd,Auburn,GA,30011-3206,2,NaN,...,1/1/2015,64,NaN,NaN,NaN,NaN,0.0,64.0,64.0,NaN
3,13013180204,1000412,Active,INNOVATION PROPERTIES,56 MAYNARD ST,WINDER,GA,30680,1,NaN,...,2/1/2016,40,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13013180204,1037926,Active,WINDING HOLLOW,174 S BROAD ST,WINDER,GA,30680,1,Elderly,...,12/1/2018,40,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,13013180204,1122265,Active,WINDER WOODS APARTMENTS,206 2nd St,Winder,GA,30680-7134,1,Family,...,10/30/1985,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,13013180205,1002503,Active,CRESCENT RESIDENTIAL PROPERTIES OF WINDER,29 Marion Lay St,Winder,GA,30680-2022,2,Indv. families - not eld/ handicap,...,12/1/2015,282,282.0,NaN,282.0,NaN,NaN,NaN,NaN,NaN
7,13013180205,1117667,Active,ROCK SPRINGS APARTMENTS,187 S Broad St,Winder,GA,30680-8120,1,Family,...,3/9/1990,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8,13013180302,1039115,Active,STRATFORD COURT DBA MAINSTREET WINDER,450 Jefferson Hwy,Winder,GA,30680,2,NaN,...,1/1/2013,63,NaN,NaN,NaN,NaN,0.0,63.0,NaN,NaN
9,13013180402,1119013,Active,STATHAM NORTH VILLAGE,379 Sunset Dr,Statham,GA,30666-1656,1,Family,...,8/1/1985,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,13013180501,1039113,Active,FARMINGTON HILLS,1506 Farmington Way,Winder,GA,30680,2,NaN,...,1/1/2012,72,NaN,NaN,NaN,NaN,0.0,72.0,NaN,NaN
11,13013180501,1039568,Active,FARMINGTON HILLS PHASE II,1525 Farmington Way,Winder,GA,30680,1,NaN,...,1/1/2014,72,NaN,NaN,NaN,NaN,72.0,NaN,NaN,NaN
12,13015960200,1120565,Active,ADAIRSVILLE ARMS,5535 Joe Frank Harris Pkwy NW,Adairsville,GA,30103-3002,1,Family,...,1/1/1990,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
13,13015960200,1122236,Active,STEWART APARTMENTS,100 Lawrence St,Adairsville,GA,30103-2920,1,Family,...,1/1/1986,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,13015960200,1119660,Active,ADAIRSVILLE APARTMENTS,101 Legion Ct,Adairsville,GA,30103-2972,1,Family,...,8/3/1984,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
15,13015960401,1117443,Active,CROSSFIELD APARTMENTS II,7 Crossfield Cir,Cartersville,GA,30121-4229,3,Family,...,1/1/1989,48,NaN,NaN,NaN,NaN,24.0,NaN,NaN,12.0
16,13015960401,1038479,Active,THE COVE APARTMENTS,90 Liberty Square Dr NE,Cartersville,GA,30121-8054,1,NaN,...,1/1/2000,60,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN
17,13015960401,1116157,Active,FIELDMONT APARTMENTS,34 Gilreath Rd SE,Cartersville,GA,30121-5094,1,Family,...,7/31/1984,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0
18,13015960401,1116240,Active,CLUB COURT APARTMENT II,72 Massell Dr SE,Cartersville,GA,30121-4275,2,Mixed,...,11/19/1981,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
19,13015960402,1038011,Active,HUNTWOOD TERRACE ...,71 Center Rd SE,Cartersville,GA,30121-2900,2,Elderly,...,6/22/1993,40,40.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN
20,13015960402,1038247,Active,CASS TOWNE APARTMENTS,1341 Cassville Rd NW,Cartersville,GA,30120-4886,1,NaN,...,1/1/1994,10,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
21,13015960402,1038846,Active,SOMERSET CLUB APARTMENTS,91 Somerset Club Dr SE,Cartersville,GA,30121-8164,1,NaN,...,1/1/2004,120,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN
22,13015960402,1039020,Active,SHANGRI-LA PARK,69 Gilreath Rd NW,Cartersville,GA,30121,2,NaN,...,1/1/2011,72,NaN,NaN,NaN,NaN,72.0,NaN,15.0,NaN
23,13015960402,1038434,Active,HAVENWOOD CARTERSVILLE,296 E Felton Rd,Cartersville,GA,30121-2405,1,NaN,...,2/1/2020,50,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN
24,13015960600,1037904,Active,CARTERSVILLE GARDENS,376 Old Mill Rd,Cartersville,GA,30120-4043,1,Elderly,...,3/1/1979,100,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN
25,13015960600,1018478,Active,THE JARED HOUSE ...,245 Douthit Ferry Rd,Cartersville,GA,30120-4093,1,Wholly physically disabled,...,10/1/2018,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,13015960600,1038383,Active,PACE/ETOWAH VILLAGE,366 Old Mill Rd,Cartersville,GA,30120-8461,1,NaN,...,1/1/1996,95,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN
27,13015960700,1038430,Active,STONEWALL HOMES,8 Postelle St,Cartersville,GA,30120-3620,1,NaN,...,3/31/1953,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,13015960700,1038719,Active,RAILROAD STREET/FAIRVIEW CIRCLE HOMES,55 Fairview St,Cartersville,GA,30120-2818,1,NaN,...,11/30/1962,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,13045910101,1117859,Active,HAMPTON COURT II,70 Industrial Blvd,Villa Rica,GA,30180-1507,2,Family,...,11/1/1985,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,13255160400,1038537,Active,ST PHILLIPS VILLAS,829 N Hill St,Griffin,GA,30223-1948,2,NaN,...,1/1/2002,60,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
749,13255160500,1038869,Active,GLENCOE TRACE APARTMENTS,1624 Hallmark Dr,Griffin,GA,30223-8762,2,NaN,...,1/1/2000,72,NaN,NaN,NaN,NaN,72.0,NaN,72.0,NaN
750,13255160700,1038099,Active,REGENCY APARTMENTS,1100 W College Ext,Griffin,GA,30224-4058,1,Family,...,10/1/1974,80,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
751,13255160700,1039147,Active,MERIWETHER HOMES,426 S 15th St,Griffin,GA,30224-6831,3,NaN,...,11/1/2014,84,42.0,NaN,NaN,NaN,NaN,NaN,84.0,NaN
752,13255160700,1038357,Active,PINE HILL APARTMENTS,600 S Pine Hill Rd,Griffin,GA,30224-8325,1,NaN,...,1/1/1994,128,NaN,NaN,NaN,NaN,127.0,NaN,NaN,NaN
753,13255160700,1037957,Active,POPLAR GROVE,617 Meriwether St,Griffin,GA,30224-4138,1,NaN,...,1/1/2005,36,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN
754,13255160700,1130698,Active,MISSING,400 S 15TH ST,GRIFFIN,GA,30224,1,Eldery or Disabled,...,NaN,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,13255160700,1118909,Active,PIEDMONT RIDGE APARTMENTS PHASE II,32 County Farm Rd,Williamson,GA,30292-6704,1,Family,...,10/19/1990,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
756,13255160800,1037826,Active,ST GEORGE'S COURT,110 N 10th St,Griffin,GA,30223-2802,2,Elderly,...,10/24/1984,100,100.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN
757,13255161200,1038013,Active,HERITAGE APARTMENTS,1012 Beck St,Griffin,GA,30224-8890,2,Family,...,12/1/2014,120,113.0,NaN,120.0,NaN,NaN,NaN,NaN,NaN
758,13255161200,1018497,Active,OAKS AT PARK POINTE,420 Park Rd,Griffin,GA,30224-4259,2,NaN,...,1/1/2015,84,11.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
759,13255161200,1038102,Active,MARIAN POINT F/N/A POPLAR POINT,416 W Poplar St,Griffin,GA,30224-2814,3,NaN,...,1/1/2004,24,NaN,NaN,NaN,NaN,19.0,19.0,19.0,NaN
760,13255161200,1038319,Active,NINE OAKS APARTMENTS,502 Nine Oaks Dr,Griffin,GA,30224-4198,1,NaN,...,8/31/1983,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,13297110300,1037916,Active,CAMPTOWNE GARDENS APARTMENTS,334 Towler St,Monroe,GA,30655-2855,1,Family,...,1/1/2014,50,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,13297110300,1037839,Active,WALTON VILLAGE,210 Baker St,Monroe,GA,30655-3006,1,NaN,...,12/14/2014,48,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,13297110300,1038342,Active,GEORGE WALTON HOMES,43 Carver Dr,MONROE,GA,30655,1,NaN,...,NaN,182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,13297110300,1039166,Active,MAGNOLIA TERRACE,809 Stowers Dr,Monroe,GA,30655-2446,1,NaN,...,11/30/1959,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,13297110400,1038926,Active,ASHTON POINTE,429 Plaza Dr,Monroe,GA,30655-3132,1,NaN,...,1/1/1997,48,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN
766,13297110400,1038208,Active,SKYLINE TRACE,600 Ridge Rd,Monroe,GA,30655-1988,2,FAMILY,...,11/16/2009,64,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN
767,13297110400,1114550,Active,HIGHLAND VILLAGE APARTMENTS,510 Plaza Trce,Monroe,GA,30655-3103,2,Elderly,...,10/11/1989,55,NaN,NaN,NaN,NaN,0.0,NaN,NaN,51.0
768,13297110400,1120443,Active,COUNTRY GROVE APARTMENTS,684 Plaza Trce,Monroe,GA,30655-3100,1,Family,...,1/1/1989,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
769,13297110400,1116823,Active,PINE RIDGE APARTMENTS,792 Ridge Rd Ste A,Monroe,GA,30655-3192,1,Family,...,7/2/1981,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0
770,13297110400,1118145,Active,WEST MONROE VILLAS,789 Ridge Rd,Monroe,GA,30655-1771,1,Family,...,11/7/1986,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
771,13297110504,1119044,Active,THE MEADOWS,249 Meadows Dr,Loganville,GA,30052-2624,1,Family,...,2/5/1985,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,13297110504,1038392,Active,JOHN B WILSON HOMES,101 Winston Byrd Ln,Loganville,GA,30052-2677,1,NaN,...,7/31/1958,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773,13297110507,1038890,Active,ALEXANDER CROSSING,479 Tommy Lee Fuller Dr,Loganville,GA,30052,1,NaN,...,1/1/2002,168,NaN,NaN,NaN,NaN,168.0,NaN,NaN,NaN
774,13297110800,1116074,Active,SOUTH WALTON VILLAS,500 Spring St SE,Social Circle,GA,30025-3037,1,Family,...,4/8/1986,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
775,13297110800,1039274,Active,WALTON COURT,723 Walton Ct,Social Circle,GA,30025-3150,1,NaN,...,5/31/1958,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,13121003700,1038534,Active,VERANDA AT SCHOLARS LANDING,130 Lawshe St SW,Atlanta,GA,30314-4209,2,Family,...,1/1/2013,100,NaN,NaN,100.0,NaN,100.0,NaN,NaN,NaN
777,13121003700,1102154,Active,Oasis at Scholars Landing,134 John Hope Dr SW,Atlanta,GA,30314-4232,2,Senior,...,1/1/2014,60,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN

# The following code imports all the datasets into a SQLite

In [46]:
db_file = 'aaha.db'
conn = sqlite3.connect(db_file)
# c = conn.cursor()

geotableclean.to_sql('censustract', con=conn, if_exists='replace', index=False)
summary.to_sql('census_dataset', con=conn, if_exists='replace', index=False)
clean_HUDcsv.to_sql('hud_dataset', con=conn, if_exists='replace', index=False)
atlanta_subset_nhpd.to_sql('nhpd_dataset', con=conn, if_exists='replace', index=False)